@import "components/common/style/CommanStyleForScss.scss";

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  width: 0px;
  height: 0px;
  background-color: $scrollbar-color;
}
