input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input:focus {
    outline: none !important;
    border:'none';
    // box-shadow: 0 0 10px #719ECE;
  }
// input{
//     padding-left: 30px;
// }