.lamp-light {
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none; /* Ensures the light effect does not block interactions */
  /* transform: translate(-50%, -50%); */
  border-radius: 50%;
  mix-blend-mode: overlay;
  z-index: 1000; /* Ensures the light effect is on top of other elements */
  transition: transform 0.1s ease-out; /* Smooth transition */
}
