$scrollbar-color: #e9efff;
$secondary-color: #00ff00;
$p_black_50: #191919;
$p_blue_50: '#EDF2FE';
$p_blue_20: '#ebf8ff';

$p_blue_500: '#4A7FF7';
$s_grey_50: '#F5F6F8';
$s_grey_500: '#96A8B4';
$p_blue_200: '#ACC4FB';
$s_white_500: '#FFFFFF';
$purple_50: '#F0EDFB';
$overshade_gray_hover: '#EEF1F3';
$overshade_gray_100: '#DEE4E8';
$yellow_50: '#FFFBE6';
$red_50: '#FEF0F0';
$orenge_50: '#FEF4F0';
$p_gull_grey: '#FAFBFB';
$orange_600: '#DA825B';
$orange_500: '#F08F64';
$green_50: '#E8F7E8';
$green_500: '#18AA1B';
$p_black: '#000000';
