.button-hov-light-grey:hover {
  background-color: rgb(229, 229, 229);
  color: white;
}

.button-hov-light-blue:hover {
  background-color: rgb(158, 195, 255);
  color: white;
}
.button-hov-light-blue-border:hover {
  border-color: #4096ff;
  color: #4096ff;

  /* background-color: rgb(158, 195, 255); */
}
.hov-light-purple:hover {
  background-color: #5d149c;
  /* color: white; */
}

.fade-blue:hover {
  background-color: #227794;
  /* color: red; */
  opacity: 0.5;
}
.fade-black:hover {
  background-color: #324241;
  /* color: red; */
  opacity: 0.9;
}
