@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}
body {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  /* padding: 0; */
}

/* fonts specifications */
@font-face {
  font-family: "Inter Regular";
  src:
    local("Inter"),
    url(./assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter SemiBold";
  /* font-weight: 600; */
  src:
    local("Inter"),
    url(./assets/fonts/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter Medium";
  /* font-weight: 600; */
  src:
    local("Inter"),
    url(./assets/fonts/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src:
    local("Inter"),
    url(./assets/fonts/Inter-SemiBold.ttf) format("truetype");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scroll bar for WebKit browsers */
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Optional: Prevent overflow on body and html */
html,
body {
  overflow: hidden; /* Disables scrolling on the body */
  height: 100%; /* Ensures the body and html are set to 100% height */
  margin: 0; /* Removes default margin */
}

/* Make sure all elements respect the hidden overflow */
* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
