body {
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-size: 12px;
  src:
    local("Inter"),
    url("./assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf")
      format("truetype");
}
.cc {
  background-color: white;
  white-space: normal;
  font-family: "Inter Regular";
  color: "#656565";
  font-size: "14px";
}
.modal-overlay {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal-box {
  /* display: block; */
  background: white;
  width: 70%;
  min-height: 50%;
  /* padding: 1rem; */
  border-radius: 1rem;
}
