:root {
  --mono-font-family: "SF Mono", SFMono-Regular, ui-monospace,
    "DejaVu Sans Mono", Menlo, Consolas, monospace;
  --grl-transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  --grl-transition-quick: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.full-width {
  width: 100%;
}

.grl-textarea-input {
  line-height: var(--grl-line-height);
  color: var(--grl-color-text);
  resize: none;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--grl-font-family);
  border-radius: var(--grl-border-radius);
  border: 1px solid var(--grl-color-border);
  background: var(--grl-color-bg-container);
  padding: 4px 11px;
  font-size: 14px;

  transition: var(--grl-transition);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--grl-control-outline);
    border-color: var(--grl-color-primary-hover);
  }

  &:hover {
    border-color: var(--grl-color-primary-hover);
    border-inline-end-width: 1px;
  }

  &::placeholder {
    color: var(--grl-color-text-placeholder);
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--grl-color-bg-container-disabled);
    color: var(--grl-color-text-disabled);
    border-color: var(--grl-color-border);
    box-shadow: none;
  }
}

.ant-notification-notice {
  margin: 0 !important;
}
